@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;500;700&family=Montserrat:wght@500;700&family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700&family=Titillium+Web:wght@600&display=swap');
$primary-color: black;
$secondary-color: #d3093e;
$tertiary-color: #fff;
$shadow-color: #95082e;
$primary-border: 0.1rem solid black;
$primary-font: "Press Start 2P";
$primary-font-size: 1.2rem;
$secondary-font-size: 1.4rem;
$primary-gap: 1.2rem;

.mobileMain {
  background-color: $secondary-color;
  width: 100vw;
  height: 100vh;
  font-family: $primary-font;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  .mobileHeader {
    display: flex;
    flex-direction: column;
    height: 8rem;
    .title {
      display: flex;
      align-items: center;
      color: $tertiary-color;
      gap: $primary-gap;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }
  .mobileContent {
      background-color: $tertiary-color;
      border-radius: 0.8rem;
      display: grid;
      padding: 2.4rem;
      grid-template-columns: repeat(auto-fill, 14rem);
      gap: $primary-gap;
      font-size: 0.8rem;
      overflow-y: scroll;
      height: 98%;
      width: 95%;
  }
}

.pokemonCard {
  border: 0.1rem solid #BEBFC5;
  background: linear-gradient(to bottom, #fdcd3b 50%, #ffed4b 50%);
  // background: linear-gradient(to bottom, $tertiary-color 50%, #E5E4E2 50%);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 16rem;
  gap: $primary-gap;
  cursor: pointer;
  .pokemonId {
    align-self: end;
    margin: 0.2rem 0.2rem 0 0;
  }
  .pokemonImg {
    height: 8rem;
  }
}

.singleViewPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .singleViewContent {
    height: 65rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    .singleViewTitle {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-family: $primary-font;
      gap: $primary-gap;
      color: $tertiary-color;
    }
    .imageBlock {
      z-index: 1;
      img {
        // still image
        height: 18rem;
        // gif
        max-width: 25rem;
        margin-bottom: -5rem;
      }
    }
    .singleViewCard {
      padding-top: 6rem;
      height: 55rem;
      width: 100%;
      background-color: $tertiary-color;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .types {
        display: flex;
        gap: $primary-gap;
        p {
          width: 8rem;
          height: 2.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2rem;
          font-weight: 800;
          color: $tertiary-color;
        }
      }
      strong {
        font-size: $secondary-font-size;
      }
      .aboutSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 6.4rem;
        width: 100%;
        .aboutCategory {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: $primary-gap;
          font-size: $primary-font-size;
          position: relative;
        }
      }
      .moveList {
        height: 4.8rem;
        width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: $primary-gap;
        .moves {
          display: flex;
          width: 100%;
          justify-content: space-around;
          font-size: $primary-font-size;
        }
      }
    }
  }
}

.baseStats {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2.4rem;
  .stat {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    .statLeft {
      flex: 1.5;
      display: flex;
      gap: 0.4rem;
      width: 100%;
      justify-content: flex-end;
      padding-right: 0.4rem;
      align-items: center;
      height: 100%;
      // font-size: $primary-font-size;
      font-weight: 600;
    }
    .statBar {
      flex: 8;
      height: 1rem;
      width: 100%;
      margin: 0 1.2rem;
      border-radius: 0.8rem;
      .percentBar {
        height: 1rem;
        border-radius: 0.8rem;
      }
    }
  }
}

.aboutDescriptor {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.breakline::after {
  content: "";
  background: #E5E4E2;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  width: 0.1rem;
}

@media (max-height: 650px) {
  .singleViewPage {
    height: 100%;
    padding: 2.4rem 0;
  }
}