@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;500;700&family=Montserrat:wght@500;700&family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700&family=Titillium+Web:wght@600&display=swap');
$primary-color: black;
$secondary-color: #d3093e;
$shadow-color: #95082e;
$primary-border: 0.1rem solid black;
$primary-font: "Press Start 2P";

.main {
  border: $primary-border;
  height: 60rem;
  width: 80rem;
  display: flex;
  border-radius: 2rem;
  background: $secondary-color;
  .mainLeft {
    flex: 1;
    border-right: 0.2rem solid $primary-color;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: -1rem 0rem 0rem $shadow-color,
    0rem 1rem 0rem $shadow-color,
    -1rem 1rem 0rem $shadow-color;
    .leftTop {
      flex: 1;
      border-bottom: 0.2rem solid yellow;
    }
    .leftMiddle {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      .screenBorderWrap {
        filter: drop-shadow(
          -0.3rem 0.3rem 0rem #6f6f6f
          );
        .screenBorder {
          background-color: #e5e2e3;
          height: 25rem;
          width: 35rem;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          border-radius: 1.2rem;
          border: $primary-border;
          clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            15% 100%,
            0% 75%
          );
          .screenButtonTop {
            gap: 1.2rem;
            display: flex;
            margin: 1.2rem 0;
          }
          .screen1 {
            background-color: white;
            height: 17rem;
            width: 27rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.2rem;
            border: $primary-border;
            img {
              height: 100%;
            }
          }
          .screenButtonBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25rem;
            height: 4rem;
            margin-left: 2rem;
          }
        }
      }
    }
    .leftBottom {
      flex: 2;

    }
  }
  .mainRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .rightTop {
      flex: 1;
      width: 100%;
      border-bottom: 0.2rem solid yellow;
    }
    .rightMiddle {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.2rem;
      font-family: $primary-font;
      color: white;
      .screen2 {
        background-color: #074235;
        border: 0.2rem solid black;
        height: 12rem;
        width: 30rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
      }
      .buttonRow {
        border: 0.1rem solid black;
        border-radius: 0.8rem;
        height: 10rem;
        width: 30rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        button {
          background-color: #22c4e8;
          border: 0.1rem solid black;
          cursor: pointer;
        }
      }
    }
    .rightBottom {
      flex: 2;
    }
  }
}

.text {
  padding: 0.5rem;
  border: 0.1rem solid black;
  position: relative;
  .textWrapper {
    font-family: $primary-font;
    width: 60rem;
    height: 20rem;
    display: flex;
    border: 0.2rem solid black;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    clip-path: polygon(
      0% 10%,
      3% 0%,
      97% 0%,
      100% 10%,
      100% 90%,
      97% 100%,
      3% 100%,
      0% 90%
    );
    p {
      overflow: hidden;
      white-space: nowrap; 
      margin: 0 auto;
      // border-right: 0.5rem solid black;
      letter-spacing: .15em; 
      animation: 
        type 3.5s steps(50, end),
        blink .75s step-end infinite;
    }
    form {
      margin: 0 7rem;
      input {
        border: none;
        font-family: $primary-font;
        caret-shape: block;
        font-size: 1rem;
        height: 1.6rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
}


.redButton1 {
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 25rem;
  border: 0.1rem solid $primary-color;
}

.redButton2 {
  height: 2rem;
  width: 2rem;
  background-color: red;
  border-radius: 25rem;
  border: 0.1rem solid $primary-color;
}

.speakers {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  p {
    width: 5rem;
    height: 0.3rem;
    background-color: black;
  }
}

@keyframes type {
  from {width: 0;}
  to {width: 78%;}
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}